<h2>Contact list</h2>
<ul>
    {{#each model as |contact|}}
    {{#link-to "contacts.contact" contact}}
    <li>{{contact.firstName}} {{contact.lastName}}</li>
    {{/link-to}}
    {{/each}}
</ul>
{{outlet}}